body {
}

.wrapper {
    width: 100%;
}

.wrapper .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    font-size: 4rem;
    color: black;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
}

strong {
    color: #1abc9c
}

.wrapper .header .column_left {

    flex-grow: 1;
    text-align: center;
    left: 40px;
}

.wrapper .header .column_Right {
    flex-grow: 1;
}

.wrapper .header .column_Right .topMenuRight {
    font-size: 25px;
    left: 0;
    right: 20px;
    top: 0;
    text-align: center;
    border: 0 solid #1FA2E1;
}

.topMenuRight ul li {
    float: right;
    vertical-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    padding: 30px;
    vertical-align: center;
}

.wrapper .content {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.wrapper .content .content_top {
    display: flex;
    height: 800px;
    background-color: #16a085;
}

.wrapper .content .content_top .column {
    navbutton_background_color: #1abc9c;
    margin-top: 100px;
    font-size: 35px;
    width: 50%;
}

.top_content_header {
    font-size: 45px;
}

.top_content {
    position: absolute;
    margin-top: 70px;
}

.wrapper .content .content_top .column .buy_now {
    color: #fff;
    background-color: #16a085;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
    width: 250px;
    height: 60px;
    font-size: 30px;
    margin-top: 350px;
    justify-content: center;
}

/*.wrapper .content.content_top .column:first-of-type {*/
/*}*/

.image {
    height: 600px;
    position: absolute;
    margin: 0 0 0 300px;
}

.wrapper .content .content_top .column:last-of-type {
    color: #fff;
    text-align: justify;
    width: 50%;
}

.wrapper .content .content_center {
    display: flex;
    flex-direction: row;
    height: 500px;
    text-align: center;
    justify-content: center;
    margin: 50px;
}

.wrapper .content .content_center .column {
    flex-grow: 1;
}

.fa {
    color: #ffffff;
    background-color: #1abc9c;
    padding: 30px;
    border-radius: 120px;
    margin-bottom: 30px;
}

.content_header {
    font-size: 40px;
    margin-top: 200px;
}

.column_content {
    font-size: 28px;
}

.wrapper .content .content_bottom {
    background-color: #1abc9c;
    height: 800px;
    width: 100%;
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper .content .content_bottom .form_question .button_submit {
    color: #fff;
    background-color: #1abc9c;
    width: 250px;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 20px;
    margin-top: 15px;
    justify-content: center;
}

.myInput {
    width: 800px;
    height: 40px;
}

.myQuestion {
    color: #000;
    margin-top: 15px;
    width: 800px;
    height: 200px;
    vertical-align: text-top;
}
