body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 80px;
    font-size: 2rem;
    color: black;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    text-align: right;
}

.topMenuRight {
    position: relative;
    left: 0px;
    right: 20px;
    top: 0px;
    border: 0px solid #1FA2E1;
}

.topMenuRight ul li {
    float: right;
    position: center;
    height: 60px;
}

.topMenuLeft {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
}


.topMenuLeft ul li {
    float: left;
    position: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    padding: 40px;
    vertical-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
}

.wrapper.contentFirst {
    background-color: #1abc9c;
    height: 500px;
}

.wrapper.contentSecond {
    display: flex;
    flex-direction: row;
    height: 400px;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 500px;
    border: none;
    background-color: #16a085;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}