body {
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

.wrapper .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    font-size: 4rem;
    color: black;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    /*text-align: right;*/
}

.wrapper .header .column_left {
    flex-grow: 1;
    text-align: center;
    left: 40px;
    /*font-size: 30px;*/
}

.wrapper .header .column_Right {
    flex-grow: 1;
}

.wrapper .header .column_Right .topMenuRight {
    font-size: 25px;
    left: 0;
    right: 20px;
    top: 0;
    text-align: center;
    border: 0 solid #1FA2E1;
}

.topMenuRight ul li {
    float: right;
    vertical-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    padding: 30px;
    vertical-align: center;
}

.wrapper .content {
    display: flex;
    flex-direction: column;
}

.wrapper .content .content_top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-color: #16a085;


}

.wrapper .content .content_top .column {
    navbutton_background_color: #1abc9c;
}

.wrapper .content .content_top .column .buy_now {
    color: #fff;
    background-color: #16a085;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
}

.wrapper .content.content_top .column:first-of-type {

}

.wrapper .content .content_top .column:last-of-type {
    color: #fff;

}


.wrapper .content .content_center {
    display: flex;
    flex-direction: row;
    height: 600px;
    text-align: center;
    justify-content: center;
}

.wrapper .content .content_center .column {
    flex-grow: 1;
}

.wrapper .content .content_bottom {
    background-color: #1abc9c;
    height: 800px;
    width: 100%;
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper .content .content_bottom .form_question .button_submit {
    color: #fff;
    background-color: #1abc9c;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
}
