body {
    margin: 50px;
}

* {
    box-sizing: border-box;
}

.container {
    height: fit-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    text-align: justify;
    align-content: baseline;
    justify-content: space-evenly;
}

.title {
    font-size: 80px;
    color: dodgerblue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    flex-grow: 1;
}

.title_of_input {
    margin: 40px 0 40px 0;
    font-size: 40px;
    color: deepskyblue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    flex-grow: 1;
}



.my_input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: deepskyblue;
    width: 300px;
    height: 40px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.button_check {
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
    color: #3498db;
    cursor: pointer;
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 15px;
    justify-content: center;
}

.result {
    margin-top: 10px;
    font-size: 20px;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}


