body {
}

@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/Game of Thrones.ttf");
}


.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100vh;

}

.wrapper .column:first-of-type {
    display: flex;
    flex-grow: 1;
    width: 50%;
    justify-content: flex-end;
    margin-right: 0;
    background-image: url("img/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
}


.wrapper .column:last-of-type {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #202020;
    margin-left: 0;
    text-align: center;
    justify-content: center;
}

.wrapper .column .title {
    color: #d3bb89;
    font-size: 35px;
    font-family: EBGaramond, "Open Sans";
    text-transform: uppercase;
    margin-bottom: 10%;
}

.menu_of_game {

}

.sub_title {
    color: #fef8eb;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 20%;
    padding-left: 40px;
    border-left: solid 3px #d3bb89;
    position: relative;
    text-align: left;
}

.column .menu_of_game .font_of_menu {
    color: #d3bb89;
    font-family: Garamond, serif;
    font-size: 25px;
    margin-left: 20%;
    text-align: left;
    /*position: relative;*/
}

.column .menu_of_game .font_of_submenu {
    color: #fef8eb;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 20%;
    text-align: left;
    position: relative;
}

.save {
    margin-top: 10%;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    height: 10%;
    color: #fef8eb;
    cursor: pointer;
    font-size: 16px;
    background-color: #c19a49;
    border: none;
}

.input {
    display: flex;
    width: 60%;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.input_username {
    display: flex;
    width: 100%;
    background-color: #202020;
    font-size: 16px;
    justify-content: left;
    border: none;
    padding: 20px 0 20px 0;
    border-bottom: solid 3px #d3bb89;
    color: #d3bb89;
}

.select {
    text-align: left;
    width: 100%;
}

.select_house {
    display: flex;
    color: #fef8eb;
    width: 60%;
    background-color: #202020;
    font-size: 16px;
    justify-content: center;
    border: none;
    padding: 20px 0 20px 0;
    border-bottom: solid 3px #d3bb89;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
}

.container {
    color: #d3bb89;
    display: flex;
    position: relative;
    padding-left: 20%;
    margin-top: 25px;
    cursor: pointer;
    font-size: 22px;
}

.container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 10%;
    background-color: #d3bb89;
}

.container:hover input ~ .checkbox {
    background-color: #d3bb89;
}

.container input:checked ~ .checkbox {
    background-color: #d3bb89;
}

.checkbox:after {
    content: "";
    display: block;
}

.container input:checked ~ .checkbox:after {
    display: none;
}

.container .checkbox:after {
    left: 22px;
    top: 33px;
    width: 15px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


