body {

}

.container {
    margin-top: 2rem;
}

.container .panel {
    width: 600px;
}

.field, .is-horizontal, .select, .select-filter, #select {
    width: 100%;
}

#title-category, #title-name {
    cursor: pointer;
}

