body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    border: 5px solid #ff3366;
    background-color: #1abc9c;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    height: 15%;
}

.content {
    display: flex;
    border: 5px solid #ff3366;
    flex-direction: row;
    flex: 1 0 auto;

}

.content .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.content .column:first-of-type {
    background-color: #16a085;
    flex-grow: 1;
}

.content .column:last-of-type {
    background-color: #2980b9;
    flex-grow: 3;
}

.footer {
    flex-shrink: 0;
    border: 5px solid #ff3366;
    background-color: #1abc9c;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    height: 15%;
}