body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    border: 5px solid #ff3366;
    background-color: #1abc9c;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.content {
    display: flex;
    border: 5px solid #ff3366;
    height: 3000px;
}

.content .column {
    align-items: stretch;
    align-content: stretch;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.content .column:first-of-type {
    background-color: #16a085;
    flex-grow: 1;

}

.content .column:last-of-type {
    background-color: #2980b9;
    flex-grow: 3;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 5px solid #ff3366;
    background-color: #1abc9c;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}