body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.header {
    border: 5px solid #ff3366;
    background-color: #1abc9c;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    height: 15%;
}

.content {
    display: flex;
    border: 5px solid #ff3366;
    height: 70%;
}

.content .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 7%;
}

.content .column:first-of-type {
    background-color: #16a085;
    flex-grow: 1;
    min-height: 71vh;
}

.content .column:last-of-type {
    background-color: #2980b9;
    flex-grow: 3;
    min-height: 71vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 5px solid #ff3366;
    background-color: #1abc9c;
    font-size: 5rem;
    color: blue;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    height: 15%;
}