body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.column {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    font-family: Helvetica, serif;
    text-align: center;
    padding: 1rem;
}

.floats {
    overflow: hidden;
}

.floats .column {
    float: left;
    width: calc(100% / 3);
}

.floats .column:first-of-type {
    background-color: #1abc9c;
}

.floats .column:last-of-type {
    background-color: #3498db;
}

.blocks {
    display: inline-block;
    list-style: none;
    width: 33.33%;
}

.column.blocks {
    display: inline;

}


.flexbox {
    display: flex;
    flex: auto;
    margin: auto;
    justify-content: space-between;
    width: 100%;

}

.flexbox.column {
    flex: auto;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-grow: 400;
}

.grid {
    display: grid;
    grid-template-areas: "column column column"
}

