body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.column {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    padding: 1rem;
}

.floats {
    overflow: hidden;
    width: 100%;
}

.floats .column {
    background-color: #2ecc71;
    float: left;
    width: calc(100% / 3);
}

.floats .column:first-of-type {
    background-color: #1abc9c;
}

.floats .column:last-of-type {
    background-color: #3498db;
}